:root {
  --clr-primary: red;
  --clr-secondary: gray;
  --clr-accent: cornflowerBlue;
  --content-max-width: 60vw;
}

html * {
  font-family: 'Roboto', Arial, sans-serif;
}

a {
  cursor: pointer;
}

.header-main {
  width: 100%;
  height: 60px;
  background-color: #000;
  align-content: center;
}

.logo {
  width: 4rem;
  height: 100%;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  /* width: fit-content; */
  width: var(--content-max-width);
  min-width: 750px;
  margin: 0 auto;
  align-items: center;;
}

.nav-item {
  display: inline-block;
  padding: .2rem .6rem;
  border-right: solid 1px black;
}

.nav-item a {
  color: var(--clr-accent);
}

.nav-item a:hover {
  color: teal;
}

.active {
  background: pink;
}